#===================================================================#
# Copyright (c) 2026, Baikal Electronics, JSC. All rights reserved. #
#===================================================================#
# Core2 via JTAG #
#================#
set ::DEBUGGER_SELECTED 1
set ::DEBUG_CORE_BUSY 1

adapter driver esp_usb_jtag
espusbjtag vid_pid 0xcafe 0x2304
espusbjtag caps_descriptor 0x0306

adapter speed 1000
reset_config none

return