#===================================================================#
# Copyright (c) 2026, Baikal Electronics, JSC. All rights reserved. #
#===================================================================#
# EVU-BA built-in JTAG debugger (based on ftdi ft2232hl) #
#========================================================#
set ::DEBUGGER_SELECTED 1

source [find interface/ft2232h.cfg]
ftdi layout_signal nSRST -data 0x0020 -oe 0x0020
ftdi layout_signal nTRST -data 0x0010 -oe 0x0010
ftdi tdo_sample_edge falling

adapter speed 500
adapter srst pulse_width 100
adapter srst delay 500
jtag_ntrst_assert_width 100
jtag_ntrst_delay 500
reset_config trst_and_srst srst_pulls_trst

return