#===================================================================#
# Copyright (c) 2026, Baikal Electronics, JSC. All rights reserved. #
#===================================================================#
# Olimex ARM-USB-OCD-H via JTAG #
#===============================#
set ::DEBUGGER_SELECTED 1

source [find interface/ftdi/olimex-arm-usb-ocd-h.cfg]
transport select jtag

adapter speed 500
adapter srst pulse_width 100
adapter srst delay 500
reset_config srst_only

return