#===================================================================#
# Copyright (c) 2026, Baikal Electronics, JSC. All rights reserved. #
#===================================================================#
# BMCU-U Registers #
#==================#
set ::TARGET_MCU BMCU_U

#===============#
# CRU Registers #
#===============#
set ::CRU(BASE)			0x14000000
set ::CRU(CLK_SEL)		[format 0x%x $(${CRU(BASE)} + 0x00)]
set ::CRU(PLL_CTL)		[format 0x%x $(${CRU(BASE)} + 0x04)]
set ::CRU(CLK_CTL0)		[format 0x%x $(${CRU(BASE)} + 0x08)]
set ::CRU(APB0_CG_CTL)	[format 0x%x $(${CRU(BASE)} + 0x0c)]
set ::CRU(APB1_CG_CTL)	[format 0x%x $(${CRU(BASE)} + 0x10)]
set ::CRU(APB2_CG_CTL)	[format 0x%x $(${CRU(BASE)} + 0x14)]
set ::CRU(SYS_CTL0)		[format 0x%x $(${CRU(BASE)} + 0x18)]
set ::CRU(SYS_CTL1)		[format 0x%x $(${CRU(BASE)} + 0x1c)]
set ::CRU(SYS_CTL2)		[format 0x%x $(${CRU(BASE)} + 0x20)]
set ::CRU(AXI_M_CTL)	[format 0x%x $(${CRU(BASE)} + 0x24)]
set ::CRU(AXI_S_CTL)	[format 0x%x $(${CRU(BASE)} + 0x28)]
set ::CRU(IO_PU_CTL0)	[format 0x%x $(${CRU(BASE)} + 0x2c)]
set ::CRU(IO_PU_CTL1)	[format 0x%x $(${CRU(BASE)} + 0x30)]
set ::CRU(IO_PD_CTL0)	[format 0x%x $(${CRU(BASE)} + 0x34)]
set ::CRU(IO_PD_CTL1)	[format 0x%x $(${CRU(BASE)} + 0x38)]
set ::CRU(IO_AF_CTL0)	[format 0x%x $(${CRU(BASE)} + 0x3c)]
set ::CRU(IO_AF_CTL1)	[format 0x%x $(${CRU(BASE)} + 0x40)]
set ::CRU(IO_AF_CTL2)	[format 0x%x $(${CRU(BASE)} + 0x44)]
set ::CRU(IO_AF_CTL3)	[format 0x%x $(${CRU(BASE)} + 0x48)]
set ::CRU(IO_AF_CTL4)	[format 0x%x $(${CRU(BASE)} + 0x4c)]
set ::CRU(IO_AF_CTL5)	[format 0x%x $(${CRU(BASE)} + 0x50)]
set ::CRU(IO_DS_CTL0)	[format 0x%x $(${CRU(BASE)} + 0x54)]
set ::CRU(IO_DS_CTL1)	[format 0x%x $(${CRU(BASE)} + 0x58)]
set ::CRU(IO_DS_CTL2)	[format 0x%x $(${CRU(BASE)} + 0x5c)]
set ::CRU(LDO_CTL)		[format 0x%x $(${CRU(BASE)} + 0x60)]
set ::CRU(SYS_STS)		[format 0x%x $(${CRU(BASE)} + 0x70)]
set ::CRU(WDT_CLR_KEY)	[format 0x%x $(${CRU(BASE)} + 0x74)]
set ::CRU(INT_SRC_CTL)	[format 0x%x $(${CRU(BASE)} + 0x80)]
set ::CRU(CLK_CTL1)		[format 0x%x $(${CRU(BASE)} + 0x84)]

#=============================#
# eFLASH Controller Registers #
#=============================#
set ::eFLASH(BASE)				0xa0060000
set ::eFLASH(FLASH_CTL)			[format 0x%x $(${eFLASH(BASE)} + 0x00)]
set ::eFLASH(FLASH_ADDR)		[format 0x%x $(${eFLASH(BASE)} + 0x04)]
set ::eFLASH(FLASH_WDAT)		[format 0x%x $(${eFLASH(BASE)} + 0x08)]
set ::eFLASH(FLASH_RDAT)		[format 0x%x $(${eFLASH(BASE)} + 0x0c)]
set ::eFLASH(FLASH_STS)			[format 0x%x $(${eFLASH(BASE)} + 0x10)]
set ::eFLASH(FLASH_TIME0		[format 0x%x $(${eFLASH(BASE)} + 0x14)]
set ::eFLASH(FLASH_TIME1)		[format 0x%x $(${eFLASH(BASE)} + 0x18)]
set ::eFLASH(FLASH_TIME2)		[format 0x%x $(${eFLASH(BASE)} + 0x1c)]
set ::eFLASH(FLASH_TIME3)		[format 0x%x $(${eFLASH(BASE)} + 0x20)]
set ::eFLASH(FLASH_TIME4)		[format 0x%x $(${eFLASH(BASE)} + 0x24)]
set ::eFLASH(FLASH_TIME5)		[format 0x%x $(${eFLASH(BASE)} + 0x28)]
set ::eFLASH(FLASH_TIME6)		[format 0x%x $(${eFLASH(BASE)} + 0x2c)]
set ::eFLASH(FLASH_BAD0)		[format 0x%x $(${eFLASH(BASE)} + 0x34)]
set ::eFLASH(FLASH_BAD1)		[format 0x%x $(${eFLASH(BASE)} + 0x38)]
set ::eFLASH(FLASH_FLAGS)		[format 0x%x $(${eFLASH(BASE)} + 0x3c)]

return