#===================================================================#
# Copyright (c) 2026, Baikal Electronics, JSC. All rights reserved. #
#===================================================================#
# BE-U1000 Registers #
#====================#
set ::TARGET_MCU BE_U1000

#=================#
# CLINT Registers #
#=================#
set ::CLINT(BASE)			0x2000000
set ::CLINT(MSIP0)			[format 0x%x $(${CLINT(BASE)} + 0x0000)]
set ::CLINT(MTIMECMP0)		[format 0x%x $(${CLINT(BASE)} + 0x4000)]
set ::CLINT(MTIME)			[format 0x%x $(${CLINT(BASE)} + 0xBFF8)]

#===============#
# CRU Registers #
#===============#
set ::CRU(BASE)				0x14000000
set ::CRU(CLK_SEL)			[format 0x%x $(${CRU(BASE)} + 0x0000)]
set ::CRU(PLL_CTL)			[format 0x%x $(${CRU(BASE)} + 0x0004)]
set ::CRU(CLK_CTL0)			[format 0x%x $(${CRU(BASE)} + 0x0008)]
set ::CRU(PCLK0EN)			[format 0x%x $(${CRU(BASE)} + 0x000c)]
set ::CRU(PCLK1EN)			[format 0x%x $(${CRU(BASE)} + 0x0010)]
set ::CRU(PCLK2EN)			[format 0x%x $(${CRU(BASE)} + 0x0014)]
set ::CRU(SYS_CTL0)			[format 0x%x $(${CRU(BASE)} + 0x0018)]
set ::CRU(SYS_CTL1)			[format 0x%x $(${CRU(BASE)} + 0x001c)]
set ::CRU(SYS_CTL2)			[format 0x%x $(${CRU(BASE)} + 0x0020)]
set ::CRU(PRIOR0)			[format 0x%x $(${CRU(BASE)} + 0x0024)]
set ::CRU(PRIOR1)			[format 0x%x $(${CRU(BASE)} + 0x0028)]
set ::CRU(IO_PU_CTL0)		[format 0x%x $(${CRU(BASE)} + 0x002c)]
set ::CRU(IO_PU_CTL1)		[format 0x%x $(${CRU(BASE)} + 0x0030)]
set ::CRU(IO_PD_CTL0)		[format 0x%x $(${CRU(BASE)} + 0x0034)]
set ::CRU(IO_PD_CTL1)		[format 0x%x $(${CRU(BASE)} + 0x0038)]
set ::CRU(IO_AF_CTL0)		[format 0x%x $(${CRU(BASE)} + 0x003c)]
set ::CRU(IO_AF_CTL1)		[format 0x%x $(${CRU(BASE)} + 0x0040)]
set ::CRU(IO_AF_CTL2)		[format 0x%x $(${CRU(BASE)} + 0x0044)]
set ::CRU(IO_AF_CTL3)		[format 0x%x $(${CRU(BASE)} + 0x0048)]
set ::CRU(IO_AF_CTL4)		[format 0x%x $(${CRU(BASE)} + 0x004c)]
set ::CRU(IO_AF_CTL5)		[format 0x%x $(${CRU(BASE)} + 0x0050)]
set ::CRU(IO_DS_CTL0)		[format 0x%x $(${CRU(BASE)} + 0x0054)]
set ::CRU(IO_DS_CTL1)		[format 0x%x $(${CRU(BASE)} + 0x0058)]
set ::CRU(IO_DS_CTL2)		[format 0x%x $(${CRU(BASE)} + 0x005c)]
set ::CRU(LDO_CTL)			[format 0x%x $(${CRU(BASE)} + 0x0060)]
set ::CRU(USBCR)			[format 0x%x $(${CRU(BASE)} + 0x0064)]
set ::CRU(SYS_STS)			[format 0x%x $(${CRU(BASE)} + 0x0070)]
set ::CRU(WDT_CLR_KEY)		[format 0x%x $(${CRU(BASE)} + 0x0074)]
set ::CRU(INT_SRC_CTL)		[format 0x%x $(${CRU(BASE)} + 0x0080)]
set ::CRU(CLK_CTL1)			[format 0x%x $(${CRU(BASE)} + 0x0084)]
set ::CRU(FLASH_NVR_CTL)	[format 0x%x $(${CRU(BASE)} + 0x0090)]
set ::CRU(CORE1_CTL)		[format 0x%x $(${CRU(BASE)} + 0x0094)]

#=============================#
# eFLASH Controller Registers #
#=============================#
set ::eFLASH(BASE)			0xa1000000
set ::eFLASH(FLASH_CTL)		[format 0x%x $(${eFLASH(BASE)} + 0x0000)]
set ::eFLASH(FLASH_ADDR)	[format 0x%x $(${eFLASH(BASE)} + 0x0004)]
set ::eFLASH(FLASH_WDAT)	[format 0x%x $(${eFLASH(BASE)} + 0x0008)]
set ::eFLASH(FLASH_RDAT)	[format 0x%x $(${eFLASH(BASE)} + 0x000c)]
set ::eFLASH(FLASH_STS)		[format 0x%x $(${eFLASH(BASE)} + 0x0010)]
set ::eFLASH(FLASH_TIME0)	[format 0x%x $(${eFLASH(BASE)} + 0x0014)]
set ::eFLASH(FLASH_TIME1)	[format 0x%x $(${eFLASH(BASE)} + 0x0018)]
set ::eFLASH(FLASH_TIME2)	[format 0x%x $(${eFLASH(BASE)} + 0x001c)]
set ::eFLASH(FLASH_TIME3)	[format 0x%x $(${eFLASH(BASE)} + 0x0020)]
set ::eFLASH(FLASH_TIME4)	[format 0x%x $(${eFLASH(BASE)} + 0x0024)]
set ::eFLASH(FLASH_TIME5)	[format 0x%x $(${eFLASH(BASE)} + 0x0028)]
set ::eFLASH(FLASH_TIME6)	[format 0x%x $(${eFLASH(BASE)} + 0x002c)]
set ::eFLASH(FLASH_BAD0)	[format 0x%x $(${eFLASH(BASE)} + 0x0038)]
set ::eFLASH(FLASH_BAD1)	[format 0x%x $(${eFLASH(BASE)} + 0x003c)]
set ::eFLASH(FLASH_FLAGS)	[format 0x%x $(${eFLASH(BASE)} + 0x0040)]

#===========================#
# *SPI Controller Registers #
#===========================#
set ::QSPI0(BASE)			0x11000000
set ::QSPI0(CTRLR0)			[format 0x%x $(${QSPI0(BASE)} + 0x0000)]
set ::QSPI0(CTRLR1)			[format 0x%x $(${QSPI0(BASE)} + 0x0004)]
set ::QSPI0(SPIENR)			[format 0x%x $(${QSPI0(BASE)} + 0x0008)]
set ::QSPI0(MWCR)			[format 0x%x $(${QSPI0(BASE)} + 0x000c)]
set ::QSPI0(SER)			[format 0x%x $(${QSPI0(BASE)} + 0x0010)]
set ::QSPI0(BAUDR)			[format 0x%x $(${QSPI0(BASE)} + 0x0014)]
set ::QSPI0(TXFTLR)			[format 0x%x $(${QSPI0(BASE)} + 0x0018)]
set ::QSPI0(RXFTLR)			[format 0x%x $(${QSPI0(BASE)} + 0x001c)]
set ::QSPI0(TXFLR)			[format 0x%x $(${QSPI0(BASE)} + 0x0020)]
set ::QSPI0(RXFLR)			[format 0x%x $(${QSPI0(BASE)} + 0x0024)]
set ::QSPI0(SR)				[format 0x%x $(${QSPI0(BASE)} + 0x0028)]
set ::QSPI0(IMR)			[format 0x%x $(${QSPI0(BASE)} + 0x002c)]
set ::QSPI0(ISR)			[format 0x%x $(${QSPI0(BASE)} + 0x0030)]
set ::QSPI0(RISR)			[format 0x%x $(${QSPI0(BASE)} + 0x0034)]
set ::QSPI0(TXOICR)			[format 0x%x $(${QSPI0(BASE)} + 0x0038)]
set ::QSPI0(RXOICR)			[format 0x%x $(${QSPI0(BASE)} + 0x003c)]
set ::QSPI0(RXUICR)			[format 0x%x $(${QSPI0(BASE)} + 0x0040)]
set ::QSPI0(MSTICR)			[format 0x%x $(${QSPI0(BASE)} + 0x0044)]
set ::QSPI0(ICR)			[format 0x%x $(${QSPI0(BASE)} + 0x0048)]
set ::QSPI0(DMACR)			[format 0x%x $(${QSPI0(BASE)} + 0x004c)]
set ::QSPI0(DMATDLR)		[format 0x%x $(${QSPI0(BASE)} + 0x0050)]
set ::QSPI0(DMARDLR)		[format 0x%x $(${QSPI0(BASE)} + 0x0054)]
set ::QSPI0(DR0)			[format 0x%x $(${QSPI0(BASE)} + 0x0060)]
set ::QSPI0(DR1)			[format 0x%x $(${QSPI0(BASE)} + 0x0064)]
set ::QSPI0(DR2)			[format 0x%x $(${QSPI0(BASE)} + 0x0068)]
set ::QSPI0(DR3)			[format 0x%x $(${QSPI0(BASE)} + 0x006c)]
set ::QSPI0(DR4)			[format 0x%x $(${QSPI0(BASE)} + 0x0070)]
set ::QSPI0(DR5)			[format 0x%x $(${QSPI0(BASE)} + 0x0074)]
set ::QSPI0(DR6)			[format 0x%x $(${QSPI0(BASE)} + 0x0078)]
set ::QSPI0(DR7)			[format 0x%x $(${QSPI0(BASE)} + 0x007c)]
set ::QSPI0(DR8)			[format 0x%x $(${QSPI0(BASE)} + 0x0080)]
set ::QSPI0(DR9)			[format 0x%x $(${QSPI0(BASE)} + 0x0084)]
set ::QSPI0(DR10)			[format 0x%x $(${QSPI0(BASE)} + 0x0088)]
set ::QSPI0(DR11)			[format 0x%x $(${QSPI0(BASE)} + 0x008c)]
set ::QSPI0(DR12)			[format 0x%x $(${QSPI0(BASE)} + 0x0090)]
set ::QSPI0(DR13)			[format 0x%x $(${QSPI0(BASE)} + 0x0094)]
set ::QSPI0(DR14)			[format 0x%x $(${QSPI0(BASE)} + 0x0098)]
set ::QSPI0(DR15)			[format 0x%x $(${QSPI0(BASE)} + 0x009c)]
set ::QSPI0(DR16)			[format 0x%x $(${QSPI0(BASE)} + 0x00a0)]
set ::QSPI0(DR17)			[format 0x%x $(${QSPI0(BASE)} + 0x00a4)]
set ::QSPI0(DR18)			[format 0x%x $(${QSPI0(BASE)} + 0x00a8)]
set ::QSPI0(DR19)			[format 0x%x $(${QSPI0(BASE)} + 0x00ac)]
set ::QSPI0(DR20)			[format 0x%x $(${QSPI0(BASE)} + 0x00b0)]
set ::QSPI0(DR21)			[format 0x%x $(${QSPI0(BASE)} + 0x00b4)]
set ::QSPI0(DR22)			[format 0x%x $(${QSPI0(BASE)} + 0x00b8)]
set ::QSPI0(DR23)			[format 0x%x $(${QSPI0(BASE)} + 0x00bc)]
set ::QSPI0(DR24)			[format 0x%x $(${QSPI0(BASE)} + 0x00c0)]
set ::QSPI0(DR25)			[format 0x%x $(${QSPI0(BASE)} + 0x00c4)]
set ::QSPI0(DR26)			[format 0x%x $(${QSPI0(BASE)} + 0x00c8)]
set ::QSPI0(DR27)			[format 0x%x $(${QSPI0(BASE)} + 0x00cc)]
set ::QSPI0(DR28)			[format 0x%x $(${QSPI0(BASE)} + 0x00d0)]
set ::QSPI0(DR29)			[format 0x%x $(${QSPI0(BASE)} + 0x00d4)]
set ::QSPI0(DR30)			[format 0x%x $(${QSPI0(BASE)} + 0x00d8)]
set ::QSPI0(DR31)			[format 0x%x $(${QSPI0(BASE)} + 0x00dc)]
set ::QSPI0(DR32)			[format 0x%x $(${QSPI0(BASE)} + 0x00e0)]
set ::QSPI0(DR33)			[format 0x%x $(${QSPI0(BASE)} + 0x00e4)]
set ::QSPI0(DR34)			[format 0x%x $(${QSPI0(BASE)} + 0x00e8)]
set ::QSPI0(DR35)			[format 0x%x $(${QSPI0(BASE)} + 0x00ec)]
set ::QSPI0(RX_SAMPLE_DLY)	[format 0x%x $(${QSPI0(BASE)} + 0x00f0)]
set ::QSPI0(SPI_CTRLR0)		[format 0x%x $(${QSPI0(BASE)} + 0x00f4)]
set ::QSPI0(TXD_DRIVE_EDGE)	[format 0x%x $(${QSPI0(BASE)} + 0x00f8)]
set ::QSPI0(XIP_CMD)		[format 0x%x $(${QSPI0(BASE)} + 0x00fc)]

set ::QSPI1(BASE)			0x13000000
set ::QSPI1(CTRLR0)			[format 0x%x $(${QSPI1(BASE)} + 0x0000)]
set ::QSPI1(CTRLR1)			[format 0x%x $(${QSPI1(BASE)} + 0x0004)]
set ::QSPI1(SPIENR)			[format 0x%x $(${QSPI1(BASE)} + 0x0008)]
set ::QSPI1(MWCR)			[format 0x%x $(${QSPI1(BASE)} + 0x000c)]
set ::QSPI1(SER)			[format 0x%x $(${QSPI1(BASE)} + 0x0010)]
set ::QSPI1(BAUDR)			[format 0x%x $(${QSPI1(BASE)} + 0x0014)]
set ::QSPI1(TXFTLR)			[format 0x%x $(${QSPI1(BASE)} + 0x0018)]
set ::QSPI1(RXFTLR)			[format 0x%x $(${QSPI1(BASE)} + 0x001c)]
set ::QSPI1(TXFLR)			[format 0x%x $(${QSPI1(BASE)} + 0x0020)]
set ::QSPI1(RXFLR)			[format 0x%x $(${QSPI1(BASE)} + 0x0024)]
set ::QSPI1(SR)				[format 0x%x $(${QSPI1(BASE)} + 0x0028)]
set ::QSPI1(IMR)			[format 0x%x $(${QSPI1(BASE)} + 0x002c)]
set ::QSPI1(ISR)			[format 0x%x $(${QSPI1(BASE)} + 0x0030)]
set ::QSPI1(RISR)			[format 0x%x $(${QSPI1(BASE)} + 0x0034)]
set ::QSPI1(TXOICR)			[format 0x%x $(${QSPI1(BASE)} + 0x0038)]
set ::QSPI1(RXOICR)			[format 0x%x $(${QSPI1(BASE)} + 0x003c)]
set ::QSPI1(RXUICR)			[format 0x%x $(${QSPI1(BASE)} + 0x0040)]
set ::QSPI1(MSTICR)			[format 0x%x $(${QSPI1(BASE)} + 0x0044)]
set ::QSPI1(ICR)			[format 0x%x $(${QSPI1(BASE)} + 0x0048)]
set ::QSPI1(DMACR)			[format 0x%x $(${QSPI1(BASE)} + 0x004c)]
set ::QSPI1(DMATDLR)		[format 0x%x $(${QSPI1(BASE)} + 0x0050)]
set ::QSPI1(DMARDLR)		[format 0x%x $(${QSPI1(BASE)} + 0x0054)]
set ::QSPI1(DR0)			[format 0x%x $(${QSPI1(BASE)} + 0x0060)]
set ::QSPI1(DR1)			[format 0x%x $(${QSPI1(BASE)} + 0x0064)]
set ::QSPI1(DR2)			[format 0x%x $(${QSPI1(BASE)} + 0x0068)]
set ::QSPI1(DR3)			[format 0x%x $(${QSPI1(BASE)} + 0x006c)]
set ::QSPI1(DR4)			[format 0x%x $(${QSPI1(BASE)} + 0x0070)]
set ::QSPI1(DR5)			[format 0x%x $(${QSPI1(BASE)} + 0x0074)]
set ::QSPI1(DR6)			[format 0x%x $(${QSPI1(BASE)} + 0x0078)]
set ::QSPI1(DR7)			[format 0x%x $(${QSPI1(BASE)} + 0x007c)]
set ::QSPI1(DR8)			[format 0x%x $(${QSPI1(BASE)} + 0x0080)]
set ::QSPI1(DR9)			[format 0x%x $(${QSPI1(BASE)} + 0x0084)]
set ::QSPI1(DR10)			[format 0x%x $(${QSPI1(BASE)} + 0x0088)]
set ::QSPI1(DR11)			[format 0x%x $(${QSPI1(BASE)} + 0x008c)]
set ::QSPI1(DR12)			[format 0x%x $(${QSPI1(BASE)} + 0x0090)]
set ::QSPI1(DR13)			[format 0x%x $(${QSPI1(BASE)} + 0x0094)]
set ::QSPI1(DR14)			[format 0x%x $(${QSPI1(BASE)} + 0x0098)]
set ::QSPI1(DR15)			[format 0x%x $(${QSPI1(BASE)} + 0x009c)]
set ::QSPI1(DR16)			[format 0x%x $(${QSPI1(BASE)} + 0x00a0)]
set ::QSPI1(DR17)			[format 0x%x $(${QSPI1(BASE)} + 0x00a4)]
set ::QSPI1(DR18)			[format 0x%x $(${QSPI1(BASE)} + 0x00a8)]
set ::QSPI1(DR19)			[format 0x%x $(${QSPI1(BASE)} + 0x00ac)]
set ::QSPI1(DR20)			[format 0x%x $(${QSPI1(BASE)} + 0x00b0)]
set ::QSPI1(DR21)			[format 0x%x $(${QSPI1(BASE)} + 0x00b4)]
set ::QSPI1(DR22)			[format 0x%x $(${QSPI1(BASE)} + 0x00b8)]
set ::QSPI1(DR23)			[format 0x%x $(${QSPI1(BASE)} + 0x00bc)]
set ::QSPI1(DR24)			[format 0x%x $(${QSPI1(BASE)} + 0x00c0)]
set ::QSPI1(DR25)			[format 0x%x $(${QSPI1(BASE)} + 0x00c4)]
set ::QSPI1(DR26)			[format 0x%x $(${QSPI1(BASE)} + 0x00c8)]
set ::QSPI1(DR27)			[format 0x%x $(${QSPI1(BASE)} + 0x00cc)]
set ::QSPI1(DR28)			[format 0x%x $(${QSPI1(BASE)} + 0x00d0)]
set ::QSPI1(DR29)			[format 0x%x $(${QSPI1(BASE)} + 0x00d4)]
set ::QSPI1(DR30)			[format 0x%x $(${QSPI1(BASE)} + 0x00d8)]
set ::QSPI1(DR31)			[format 0x%x $(${QSPI1(BASE)} + 0x00dc)]
set ::QSPI1(DR32)			[format 0x%x $(${QSPI1(BASE)} + 0x00e0)]
set ::QSPI1(DR33)			[format 0x%x $(${QSPI1(BASE)} + 0x00e4)]
set ::QSPI1(DR34)			[format 0x%x $(${QSPI1(BASE)} + 0x00e8)]
set ::QSPI1(DR35)			[format 0x%x $(${QSPI1(BASE)} + 0x00ec)]
set ::QSPI1(RX_SAMPLE_DLY)	[format 0x%x $(${QSPI1(BASE)} + 0x00f0)]
set ::QSPI1(SPI_CTRLR0)		[format 0x%x $(${QSPI1(BASE)} + 0x00f4)]
set ::QSPI1(TXD_DRIVE_EDGE)	[format 0x%x $(${QSPI1(BASE)} + 0x00f8)]
set ::QSPI1(XIP_CMD)		[format 0x%x $(${QSPI1(BASE)} + 0x00fc)]

return