#===================================================================#
# Copyright (c) 2026, Baikal Electronics, JSC. All rights reserved. #
#===================================================================#
# Basic functions #
#=================#

proc ___set_bit {REG BIT} {
	mww ${REG} [format 0x%x $(([read_memory ${REG} 32 1]) | ${BIT})]
}

proc ___clear_bit {REG BIT} {
	mww ${REG} [format 0x%x $(([read_memory ${REG} 32 1]) & (~${BIT}))]
}

proc ___write_reg {REG VAL} {
	mww ${REG} ${VAL}
}

proc ___clear_reg {REG} {
	mww ${REG} 0x0
}

proc ___modify_reg {REG CLEARMASK SETMASK} {
	___write_reg ${REG} [format 0x%x $((([read_memory ${REG} 32 1]) & (~${CLEARMASK})) | ${SETMASK})]
}

return