#===================================================================#
# Copyright (c) 2026, Baikal Electronics, JSC. All rights reserved. #
#===================================================================#
# MCU control functions #
#=======================#

source [find target/baikal/common/basis.cfg]
source [find target/baikal/common/clk.cfg]

proc ___prepare_secondary_cores {} {
	global DEBUG_CORE_BUSY
	global CRU
	
	# Reset Core1 & Core2 Complexes and TCM
	if {[info exists DEBUG_CORE_BUSY]} {
		___write_reg ${CRU(SYS_CTL0)} 0x4000007f
	} else {
		___write_reg ${CRU(SYS_CTL0)} 0x7f
	}
	
	# Reset PortC
	# PC4 to "PIB_CLK", other to "enable"
	___write_reg ${CRU(IO_AF_CTL4)} 0x88858888
}

proc jump { address } {
	switch -regexp $address {
		"[Tt][Cc][Mm][Aa]" {
			reg pc 0x40010000
			echo "pc => 0x40010000"
		}
		"[Tt][Cc][Mm][Bb]" {
			reg pc 0x40020000
			echo "pc => 0x40020000"
		}
		"[Ee][Ff][Ll][Aa][Ss][Hh]" {
			reg pc 0xa0000000
			echo "pc => 0xa0000000"
		}
		"[Qq][Ss][Pp][Ii]0" {
			reg pc 0x80000000
			echo "pc => 0x80000000"
		}
		"[Qq][Ss][Pp][Ii]1" {
			reg pc 0x90000000
			echo "pc => 0x90000000"
		}
		{^0x[0-9A-Fa-f]+$} {
			reg pc $address
			echo "pc => $address"
		}
		default {
			echo "Wrong address!!!"
		}
	}
}

CORE_0 configure -event reset-end {
	init
	halt
	___prepare_secondary_cores
}

CORE_0 configure -event gdb-detach {
	global VSCODE_CONNECTION
	if {[info exists VSCODE_CONNECTION]} {
		shutdown
	}
}

return