#===================================================================#
# Copyright (c) 2026, Baikal Electronics, JSC. All rights reserved. #
#===================================================================#
# Embedded flash control #
#========================#

source [find target/baikal/common/basis.cfg]

proc ___eFlash_all_erase {} {
	global eFLASH
	___write_reg ${eFLASH(FLASH_CTL)} 0x7
	sleep 500
}

proc ___eFlash_nvr_erase {} {
	global eFLASH
	___write_reg ${eFLASH(FLASH_CTL)} 0x17
	sleep 500
}

proc eFlash { command } {
	switch $command {
		"erase" {
			___eFlash_all_erase
			___eFlash_nvr_erase
			echo "eFlash erased"
		}
		default {
			echo "Wrong eFlash command!"
		}
	}
}

return