#===================================================================#
# Copyright (c) 2026, Baikal Electronics, JSC. All rights reserved. #
#===================================================================#
# Config union #
#==============#

source [find target/baikal/common/control.cfg]
source [find target/baikal/common/eflash.cfg]
source [find target/baikal/common/clk.cfg]

return