#===================================================================#
# Copyright (c) 2026, Baikal Electronics, JSC. All rights reserved. #
#===================================================================#
# Messages & Ports & GDB Settings #
#=================================#
debug_level 0

gdb port 3336
telnet port 4445
tcl port 6667

gdb report_register_access_error enable
gdb report_data_abort enable
gdb flash_program enable
gdb memory_map disable

return