#===================================================================#
# Copyright (c) 2026, Baikal Electronics, JSC. All rights reserved. #
#===================================================================#
# TAPs (targets) settings #
#=========================#
global DEBUG_CORE_BUSY

if {![info exists DEBUG_CORE_BUSY]} {
	jtag newtap riscv cpu2 -irlen 5
}
jtag newtap riscv cpu1 -irlen 5
jtag newtap riscv cpu0 -irlen 5

target create CORE_0 riscv -chain-position riscv.cpu0 -coreid 0
target create CORE_1 riscv -chain-position riscv.cpu1 -coreid 1 -defer-examine
if {![info exists DEBUG_CORE_BUSY]} {
	target create CORE_2 riscv -chain-position riscv.cpu2 -coreid 2 -defer-examine
}

riscv set_mem_access sysbus
riscv set_command_timeout_sec 30

#Set work area on TCMA+TCMB
CORE_0 configure -work-area-phys 0x40010000 -work-area-size 0x28000 -work-area-backup 0

return