#===================================================================#
# Copyright (c) 2026, Baikal Electronics, JSC. All rights reserved. #
#===================================================================#
# Generic config for varios boards #
#==================================#
global DEBUGGER_SELECTED
global TARGET_MCU

if {![info exists TARGET_MCU]} {
	source [find target/baikal/BE_U1000/registers.cfg]
}

if {![info exists DEBUGGER_SELECTED]} {
	source [find interface/baikal/core2-jtag.cfg]
}

source [find target/baikal/common/server.cfg]
source [find target/baikal/common/taps.cfg]
source [find target/baikal/common/include.cfg]

#========#
# MEMORY #
#========#
flash bank QSPI0_FLASH bmcu_qspi0 0x80000000 0x1000000 0 0 CORE_0
flash bank QSPI1_FLASH bmcu_qspi1 0x90000000 0x1000000 0 0 CORE_0

#======#
# INIT #
#======#
targets CORE_0
init
halt
___prepare_secondary_cores
